body {
    position: relative;
    background-color: rgb(228, 228, 228);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContent {
    display: flex;
    /* justify-content: center; Centraliza horizontalmente  */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Ajusta para uma única coluna */

    border-style: solid;
    border-color: rgb(0, 46, 252);
}

.content {
    margin: 1%;
    border-style: solid;
    border-color: rgb(252, 0, 0);

    padding: 2%;
    width: fit-content;
    display: block;
    align-items: stretch; /* "center" Centraliza verticalmente. "stretch" Estica o pai para coincidir com a altura do filho */
    justify-content: center; /* "center" Centraliza horizontalmente. "stretch" Estica o pai para coincidir com a largura do filho */
}

.txtBox {
    margin-top: 2%;
    text-align: center;
    
}
h1, p {
    text-align: center;
    color: black;
    margin:2%;
}

